[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
django-debug-toolbar = "*"
black = "*"
flake8 = "*"
psycopg2-binary = "*"
djangorestframework = "*"
django-cors-headers = "*"
drf-spectacular = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
requests = "*"
isort = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
factory-boy = "*"
autoflake = "*"
autopep8 = "*"
pre-commit = "*"
model-bakery = "*"
coverage = "*"
ruff = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.13"
